
/*This sidbar nav came from w3schools i optimize and improved it*/
html{
  scroll-behavior:smooth;
  transition-delay:2s;
}
*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}

.sidebar {
  width:15%;
  background-color:black;
  position: fixed;
  height:100%;
  overflow: auto;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center; 
}

 
/**********
.sidebar a{
  display: block;
  color: white;
  margin-top:30px; 
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size:16px;
  font-weight:bold;
  letter-spacing:2px;
  position:relative;
}
*/
.nav{

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

}
/*******
.sidebar a::before {
  transition: 500ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #e01b53;
}
*****/

.nav a {
  transition:2s ease-out;
  display: block;
  color: white;
  margin-top:30px; 
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size:16px;
  font-weight:bold;
  letter-spacing:2px;
  position:relative;
   
   
   
}

 

.nav a::before {
  transition: 500ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #e01b53;
}

.nav a:hover::before  {
  width: 100%;
}

.nav a.active::before {
   
  width: 100%;
}
 
.nav-link-ltr::before {
  width: 0%;
  bottom: -6px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}
 
 
 

/********
.sidebar a:hover{
   
  color: #e01b53;
}

.sidebar a:active{
  color: #e01b53;

}
***/
/*end of sidebar nav design*/


/*start of first box*/

.profile-image-container{
  width:100px;
  height:100px;
  border-radius:50%;
  border-style:solid;
  border-width:2px;
  border-color:#e01b53; 
}

.profile-image{
  width:100%;
  height:100%;
  border-radius:50%;
}

.profile-name{
  font-family: 'Poppins', sans-serif;
  font-size:24px;
  color: white;
  margin-top:30px;

}

.first-box-Hero-section{
  margin-left:15%;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/partial-background.jpg);
  width:85%;
  height:100vh;
  background-size:100% 100%;
  background-color:rgba(0, 0, 0, 0.5);
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background-attachment:fixed;
}

.fullname{
  color:white;
  font-family: 'Poppins', sans-serif;
  font-size:48px;
  -webkit-animation: tracking-in-expand 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -2em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -2em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}



.span-firstname{
   color:#e01b53;
}

.container{
  display: inline-block;
  margin-top:10px;
}
.typed-out{
  overflow: hidden;
  border-right: .15em solid #e01b53;
  white-space: nowrap;
  animation: typing 4s steps(20, end) forwards, blinking .8s infinite;
  font-size: 1.6rem;
  width: 0;
  color:white;
  font-family: 'Poppins', sans-serif;
   
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blinking {
  from { border-color: transparent }
  to { border-color: #e01b53; }
}

.dev{
  color: #e01b53;
}

 

.button-links-container{
  display:flex;
  align-items:center;
  margin-top:45px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  
}

#project-boxes-btn1{ 
  padding:18px 32px;
  border-style:solid;
  border-color:#e01b53; 
  border-radius:26px;
  font-family: 'Poppins', sans-serif;
  font-size:16px;
  background-color:#e01b53;
  color:white;
  border-width:1.6px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   position: relative;
  -webkit-transition-property: color;
   transition-property: color;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
  font-weight:bold;
  cursor: pointer;
  border-width:1px;
 }
#project-boxes-btn1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius:26px;
}
 
#project-boxes-btn1:hover, #project-boxes-btn1:focus, #project-boxes-btn1:active {
  color: white;
  border-radius:26px;
}
#project-boxes-btn1:hover:before, #project-boxes-btn1:focus:before, #project-boxes-btn1:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  border-radius:26px;
} 

#project-boxes-btn1:hover{
  color:#e01b53;
  border-radius:26px; 
  }

  #project-boxes-btn2{
    padding:18px 32px;
    margin-left:20px;
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    background-color:none; 
    color:#e01b53;
    border-radius:26px;
    border-width:1.6px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    border-style:none;
    font-weight:bold;
    cursor: pointer;
    
     
   }

   #project-boxes-btn2:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e01b53;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius:26px;
    border-style:none;
  }
  #project-boxes-btn2:hover, #project-boxes-btn2:focus, #project-boxes-btn2:active {
    color: white;
    border-style:none;
  }
  #project-boxes-btn2:hover:before, #project-boxes-btn2:focus:before, #project-boxes-btn2:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  } 

/*end of first box*/

.second-box-about-section{
  margin-left:15%;
  width:85%;
  height:105vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/about-me-background.gif);
  background-size:100% 100%;
  display:flex;
  justify-content:center;
  flex-direction:column;
  
}

.about-titel{
  color:white;
  font-size:36px;
  font-family: 'Poppins', sans-serif;
  float:left;
  text-align:center;
  width:100%;
  margin-top:30px;

}

.about-span-me-letter{
  color:#e01b53;
}   

.about-content-container{
  width:100%;
  height:600px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap: wrap-reverse; 
   
}

.about-information-container{
  width:40%;
  height:450px;
  display:flex;
  justify-content:center; 
  align-items:center;
  flex-direction:column;
 }

.about-h2-text{
  color:white;
  font-family:'Poppins', sans-serif;
  font-size:24px;
}
  
.about-me-paragraph{
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size:18px;
  margin-top:30px;
  line-height:25px;
} 
   



.about-image-container{
  width:40%;
  background-color:blueviolet;
  height:450px;
  margin-left:30px;
  background-image: url(images/2.jpg);
  background-size:100% 100%;
  border-radius:10px;

}

.about-contact-information{
  width:100%;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  margin-top:30px;
 
}
.about-contact-link{
  padding:16px 32px;
  color:white;
  text-decoration:none;
  background-color: #e01b53;
  border-style:solid;
  border-color:#e01b53;
  border-width:2px;
  border-radius:30px;
  font-family:'Poppins', sans-serif;
  font-weight:bold;
 }

.third-box-third-container{
  margin-left:15%;
  width:85%;
  height:130vh;
  background:rgba(0, 0, 0, 0.94);  
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction:column;

}

.skills-content-container{
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
  margin-top:30px;
}

.skills-title-text{
  font-family:'Poppins', sans-serif;
  font-size:36px;
  font-weight:bold;
  color:#e01b53;
  padding:5px 10px;
  
  
}

.text-my{
  color:white;
}
 
  


.skillsboxes{
  width:26%;
  height:300px;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  flex-direction:column;
  margin:20px 30px;
  background-color:white;
  border-radius:10px;
  

}
.skills-image {
  height:100px;
  width:40%;
}
   
 
.skills-paragraph{
  font-family:'Poppins', sans-serif;
  font-weight:bold;
  text-align:left;
  padding:0 40px;
  margin-top:-10px;
  width:100%;
  font-size:14px;

}

.cta-container{
  margin-left:15%;
  width:85%;
  height:110px;
  background-color:white;
  display:flex;
  justify-content:center;
  align-items:center;
}

.cta-container h2 > span{
  color:#e01b53;
  font-weight:bold;
}

.cta-container > button{
  margin-left:40px;
  border-style:solid;
  border-color:#e01b53;
  border-width:2px;
}

.cta-container > h2{
  font-family:'Poppins', sans-serif;
  font-size:20px;
}

.fourth-box-projects-container{
  margin-left:15%;
  width:85%;
  background:rgba(0, 0, 0, 0.94);   
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction:column;
  padding-bottom:80px;
  background-repeat:no-repeat;
  background-size:100% 100%;

}

.project-title-text{
  font-family:'Poppins', sans-serif;
  font-size:36px;
  font-weight:bold;
  color:#e01b53;
  margin-top:80px;
   
  padding:5px 10px;

}

.project-text-my{
  color:white;

}

.projects-content-container{
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}

.project-boxes-container{
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  flex-wrap: wrap;
  margin-top:30px;
   
}

.project-boxes{
  width:27%;
  height:300px;
  background-color:white;
  margin:20px 20px;
  border-radius:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  position:relative;  
}

.project-image-1{
  width:100%;
  height:100%;
  border-radius:10px;
  
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: rgba(0, 0, 0, 0.8);
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:10px;
}

 

.project-boxes:hover .overlay {
  opacity:1;
}

.project-buttons-container{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.project-buttons-container > button{
  padding:18px 32px;
  margin:10px 10px;
  border-radius:26px;
  border-style:none;
  font-family:'Poppins', sans-serif;
  font-weight:bold;
  font-size:16px;
  color:white;
  background-color:#e01b53;
}

#project-boxes-btn2{
  color:#e01b53;
  background-color:white;

}

#icon-button{
  margin-left:5px;
  margin-top:5px;
   
}
 
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
   
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin:auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height:90%;
  margin-top:35px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/about-me-background.gif);
  border-style:none;
  background-size:100% 100%;
   
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top:-20px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-project-image{
  width:35%;
  height:380px;

}

.content{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
  width:100%;
}

 

.content-container{
  width:50%;
  height:470px;
   
  margin-right:50px;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  color:white;
  font-family:'Poppins', sans-serif;
  
}

.modal-buttons{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  margin-top:30px;

   
}

.seperate{
  display:flex;
  justify-content:space-between;
  width:100%;
  margin-top:10px;
 
}

.seperate2{
  display:flex;
  justify-content:center;
  margin-right:25px;
}

.seperate2 > p{
  color:#e01b53;
  font-weight:bold;
  margin-top:1.5px;
  font-size:16px;
  margin-left:4px;
  
}

.seperate1 > p{
  font-size:14px;
}

.seperate3 > p{
  font-size:14px;

} 

.seperate3{
  margin-top:10px;
}


.fifth-box-contact-container{
  margin-left:15%;
  width:85%;
  height:100vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/about-me-background.gif);
  background-size:100% 100%;
  display:flex;
  align-items:center;
  justify-content:space-evenly;

}

.textbox-container1{
  display: flex;
  align-items: center;
  justify-content:space-around;
  width:100%;
   
}

#email{
  width:40%;
  height: 35px;
  background-color:black;
  color:gray; 
  border:none;
  border-bottom: 2px solid gray;
}

#fname{
  width:40%;
  height:35px;
  background-color:black;
  border:none;
  border-bottom: 2px solid gray;
  color:gray;
}

.textbox-container2{
  display: flex;
  align-items: center;
  justify-content:space-around;
  width:100%;
  margin-top:30px;
   
}

#address{
  width:40%;
  height: 35px;
  background-color:black;
  border:none;
  border-bottom: 2px solid gray;
  color:gray;

}
#number{
  width:40%;
  height:35px;
  background-color:black;
  border:none;
  border-bottom: 2px solid gray;
  color:gray;
}

#subject{
  width:90%;
  background-color:black;
  margin-top:30px;
  border-color:gray;
  color:gray;
  height:200px;

}

 
form{
  background-color:black;
  width:45%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  height:500px;
}

.contact-text-container{
  width:40%;
  display:flex;
  align-items:center;
  justify-content:space-evenly;
  flex-direction:column;
  height:500px;
}

.child-container-contact{
  display:flex;
  align-items:center;
  justify-content:space-evenly;
  flex-direction:column;
  height:150px;
   
}

.child-container-contact > p{
  color:white;
  font-size:16px;
  font-family:'Poppins', sans-serif;
  margin-top:30px;
}


.child-container-contact > h1{
  color:#e01b53;
  font-family:'Poppins', sans-serif;
  font-size:30px;


}

.first-letter-contact{
  color:white;
}

.social-icons-container{
  width:20%;
  margin-top:50px;
  display:flex;
  align-items:center;
  justify-content:space-evenly;
}

#icons{
  font-size:30px;
  color:lightgrey;
  transition: transform .2s;
  cursor: pointer;
}

 

#icons:hover {
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); 
}

#contact-icons{
  color:#e01b53;
  font-size:20px;
}
.first-icons-container{
  display:flex;
  width:100%; 
  flex-direction:column;  
  margin-top:30px;
}
.icon-name {
  display:flex;
  align-items:center;
  margin-top:15px;
}
.icon-name > h1{
  font-family:'Poppins', sans-serif;
  font-size:18px;
  margin-left:10px;
  color:white;
  font-weight:normal;

}

 



.contact-button-container {
   margin-top:30px;
}

 


.footer{
  display:flex;
  justify-content:center;
  align-items:center;
  width:85%;
  margin-left:15%;
  height:80px;
  background-color:black;
}

.footer > h1{
  color:white;
  font-size:18px;
  font-family:'Poppins', sans-serif;

}

.swiper {
  width:35%;
  height:400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius:10px;

  
   
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display:block;
  width:100%;
  height:100%;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: white;
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
  font-family:'Poppins', sans-serif;
  font-weight:bold;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #e01b53;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom:40px;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 500px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

   

  .first-box-Hero-section{
    margin-left:0;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/partial-background.jpg);
    width:100%;
    height:100vh;
    background-size:100% 100%;
    background-color:rgba(0, 0, 0, 0.5);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    
  }

  

  .second-box-about-section{
    margin-left:0;
    width:100%;
    height:150vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/about-me-background.gif);
    background-size:100% 100%;
    display:flex;
    justify-content:center;
    flex-direction:column;
    background-attachment:none;
  }

  .about-image-container{
    width:90%;
    background-color:blueviolet;
    height:450px;
    margin-left:0;
    background-image: url(images/2.jpg);
    background-size:100% 100%;
    border-radius:10px;
  
  }

  .about-information-container{
    width:90%;
    height:450px;
    display:flex;
    justify-content:center; 
    align-items:center;
    flex-direction:column;
   }
  
}





.container {
  height:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:30px;
  
}
.container p {
  font-size: 1.6rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
  font-family:'Poppins', sans-serif;
  color: white;
}
.container p span.typed-text {
  font-weight:bold;
  color: #e01b53;
}
.container p span.cursor {
  display: inline-block;
  background-color: #e01b53;
  margin-left: 0.1rem;
  width:2px;
  animation: blink 1s infinite;
  
  
   
}
.container p span.cursor.typing {
  animation: none;
}


@keyframes blink {
  0%  { background-color: #e01b53; }
  49% { background-color: #e01b53; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #e01b53; }
}